			@import url('https://fonts.googleapis.com/css?family=Pacifico&subset=cyrillic');
		
			@font-face {
			font-family: 'kobzar_ksregular';
			src: url('../fonts/kobzar/8926-webfont.eot');
			src: url('../fonts/kobzar/8926-webfont.eot?#iefix') format('embedded-opentype'),
				url('../fonts/kobzar/8926-webfont.woff2') format('woff2'),
				url('../fonts/kobzar/8926-webfont.woff') format('woff'),
				url('../fonts/kobzar/8926-webfont.ttf') format('truetype'),
				url('../fonts/kobzar/8926-webfont.svg#kobzar_ksregular') format('svg');
				font-weight: normal;
				font-style: normal;

			}
		
		
		
		/* http://meyerweb.com/eric/tools/css/reset/ 
			v2.0 | 20110126
			License: none (public domain)
			*/

			html, body, div, span, applet, object, iframe,
			h1, h2, h3, h4, h5, h6, p, blockquote, pre,
			a, abbr, acronym, address, big, cite, code,
			del, dfn, em, img, ins, kbd, q, s, samp,
			small, strike, strong, sub, sup, tt, var,
			b, u, i, center,
			dl, dt, dd, ol, ul, li,
			fieldset, form, label, legend,
			table, caption, tbody, tfoot, thead, tr, th, td,
			article, aside, canvas, details, embed, 
			figure, figcaption, footer, header, hgroup, 
			menu, nav, output, ruby, section, summary,
			time, mark, audio, video {
				margin: 0;
				padding: 0;
				border: 0;
				font-size: 100%;
				font: inherit;
				vertical-align: baseline;
				}
			/* HTML5 display-role reset for older browsers */
			article, aside, details, figcaption, figure, 
			footer, header, hgroup, menu, nav, section {
			display: block;
			}
			body {
			line-height: 1;
			}
			ol, ul {
			list-style: none;
			}
			blockquote, q {
			quotes: none;
			}
			blockquote:before, blockquote:after,
			q:before, q:after {
				content: '';
				content: none;
			}
			table {
				border-collapse: collapse;
				border-spacing: 0;
			}
			
			html{
				scroll-behavior:smooth;
			}
			
			.my_name{
				color:#8e4f0c;
				font-size:50px;
				font-family: 'Pacifico', cursive;
			}
			h2,.family{
				font-size:30px;
				line-height:30px;
			}
			.link,.my_name, h3{
				padding-top:30px;
				padding-bottom:30px;
			}
			h2,h1{
			text-align:center;
			margin-top:30px;
			}
			.family, h3{
			color:green;
			font-family: 'Pacifico', cursive;
			padding-bottom:25px;
			}
			.indent,.family,.my_name{
			margin:0 0 0 20px
			}
			.book2{
			height:200px;
			overflow:auto;
			margin:10px 0 0 0;
			font-family: 'kobzar_ksregular';
			padding:15px 0 20px 0;
			}
			h3{
			font-size:20px;
			line-height:20px;
			}
			.book{
			margin:0 20px;
			border-bottom:1px solid green;
			}
			.photo{
			background:#ff850038;
			padding:0px;
			border:0px dashed blue
			}
		
			.potter{
				width:596px;
				height:800px;
			}
			.book2:hover{
				font-family:Arial;
			}
			.family:hover{
				color:red;
				font-size:40px;
			}
			h3:hover{
				color:orange;
				font-size:35px;
			}
			.wrapper{
				width: 1200px;
				margin: 0 auto;
				padding:0;
				background:#FFFACD;
				border:1px solid blue;
				}
			
			.vertical{
				width:150px;
				background:brown;
				vertical-align:top;
				min-height:600px;
			}
			
			.inline{
			display:inline-block;
			}
			
			.fs0{
			font-size:0;
			}
			
			.fs20{
				font-size:20px;
			}
			.fs15{
				font-size:15px
			}
				
			
			.g900{
				width:900px;
			}
			.g600{
				width:600px;
			}
			.g300{
				width:300px;
			}
			.g150{
				width:150px;
			}
			.g450{
				width:450px;
			}
			.g225{
				width:225px;
			}
			
			.va{
				vertical-align:top;
			}
			.gr{
				background:green;
				min-height:50px;
			}
			.gy{
				background:gray;
				min-height:50px;
			}
			.y{
				background:yellow;
				min-height:50px;
			}
			.r{
				background:red;
				min-height:150px;
			}
			.bl{
				background:blue;
				min-height:100px;
			}
			.tl{
				text-align:left;
			}
			.p{
				background:purple;
				min-height:150px;
			}
			.dis_tc{
				display:table-cell;
			}
			.fl{
				float:left;
			}
			.fr{
				float:right;
			}
			.clearfix:after{
				content:"";
				clear:both;
				display:block;
			}
			.wrapper1{
				width: 900px;
				margin: 0 auto;
				text-align:center;
				border:1px solid blue;
				}
			.menu{
				left:0;
				top:50%;
				position:fixed;
				margin-top:-100px;
				background:#FFFACD;
				
				font-size:15px;
			}
			a{
				text-decoration:none;
			}
			.menu ul li{
				
				border:1px solid blue;
			}
			.menu ul li:hover a{
				background:blue;
				color:white;
			}
			.menu ul li a{
				display:block;
				padding:20px 10px;
			}
		
			.my_family{
				position:relative;
				z-index:1;
				box-sizing:border-box;
				width:296px;
				height:200px;
				border:1px solid blue;
				display:inline-block;
			}
			
			.signature{
				height:40px;
				left:0;
				right:0;
				top:50%;
				position:absolute;
				background:green;
				z-index:5;
				margin-top:-20px;
				background:rgba(400, 524, 120, 0.6);
				display:none;
				text-align:center;
				line-height:40px;
			}
			.my_family:hover .signature{
				display:block;
			}
			.potter{
				position:relative;
				z-index:1;
				box-sizing:border-box;
				width:596px;
				height:800px;
				border:1px solid blue;
				display:inline-block;
			}
			.potter:hover .signature{
				display:block;
			}
			.bmm, .wrapper1 ul li {
				display:inline-block;
				background:#cca854;	
				box-sizing:border-box;
				margin-right:20px;
				position:relative;
				width:220px;
			}
			.main_menu, .wrapper1 ul{
				text-align:center;
				
			}
			.bmm a, .wrapper1 ul li a{
				padding:18px 0px 16px 60px;
				display:block;
				color:brown;
				text-align:left;
				border:2px solid brown;
				position:relative;
				
			}
			.bmm:hover, .wrapper1 ul li:hover {
				background:red;
			}	
			.bmm a:hover, .wrapper1 ul li a:hover{		
				color:white;
			}
			.bmm ul{
				position:absolute;
				left:0;
				top:100%;
				padding-top:10px;
				overflow:hidden;
				height:0px;
				width:0px;
				transition:all 3s ease;
			}
			.bmm:hover .main_menu_dz{
				
				height:320px;
				width:220px;
				
			}
			
			.bmm ul li{
				background:#cca854;	
				width:220px;
			}
			.bmm ul li:hover, .wrapper1 ul li:hover {
				background:red;
			}
			
			.bmm a:before{
				content:"";
				position:absolute;
				top:0;
				left:0;
				background:url("../system/sprite/images45и5.jpg");	
				width:50px;
				height:50px;
			}
			.bmm+li a:before{
			
				background-position:-50px 0;
			}
			.bmm+li+li a:before{
			
				background-position:-100px 0;
			}
			.bmm ul li a:before{
				
				background-position:-150px 0;
			}
			.bmm ul li+li a:before{
				
				background-position:-200px 0;
			}
			.bmm ul li+li+li a:before{
		
				background-position:-250px 0;
			}
			
			.bmm a:hover:before{
				content:"";
				position:absolute;
				top:0;
				left:0;
				background:url("../system/sprite/images45и5.jpg");	
				width:50px;
				height:50px;
				background-position:0 -50px;
			}
			
			.bmm+li a:hover:before{
				
				background-position:-50px -50px;
			}
			.bmm+li+li a:hover:after{
				background-position:-100px -50px;
				background-repeat:no-repeat;
			}
			.bmm ul li a:hover:before{
				background-image:url("../system/sprite/images45и5.jpg");	
				background-position:-150px -50px;
				
			}
			.bmm ul li+li a:hover:before{
				background-position:-200px -50px;
				background-image:url("../system/sprite/images45и5.jpg");
			}
			.bmm ul li+li+li a:hover:before{
				background-position:-250px -50px;
	
			}
			.r0{
				right:0;
				position:fixed;
				top:50%;
				margin-top:-50px;
				height:144px;
				width:50px;
				background: linear-gradient(to left, yellow, black);
				transition:all 3s ease;
				animation:ring 0.3s infinite;
				}
			
			.my_frame{
				-webkit-transform: rotate(90deg) translate(60px, 30px);
				color:red;	
			}
			.frame_3{
				width:100px;
				height:40px;
				
			}
			.r0:hover{
				width:210px;
				animation:none;
				animation:ring1 2s 1;
				animation-timing-function: linear;
			}
			.b_rhombus{
				height:10px;
				width:144px;
				
			}
			.rhombus{
				-webkit-transform: rotate(45deg) translate(10px, -65px);
				height:50px;
				background:blue;
				width:50px;
				margin:10px;
				overflow:hidden;
			}
			.margin_l_25{
				margin-left:auto;
				margin-right:auto;
			}
			.in_rhombus{
				-webkit-transform: rotate(-45deg) translate(0px, -15px);
				background:linear-gradient( to left, black, yellow);
				text-align:center;
				width:72px;
				height:72px;
				line-height:72px;
			}
			.rhombus a{
				color:#00000000;
				display:block;
				
			}
			.fac{
				background-position:0px -100px;
				background-image:url("../system/sprite/images45и5.jpg");
			}
			.you{
				background-position:-72px -100px;
				background-image:url("../system/sprite/images45и5.jpg");
			}
			.inst{
				background-position:-144px -100px;
				background-image:url("../system/sprite/images45и5.jpg");
			}
			@keyframes ring{
				0%, 50%, 100%{transform:rotate(5deg);
				}
				12%, 37%, 62%, 88%{transform:rotate(0deg);
				}
				25%, 75%{transform:rotate(-5deg);
				}
			}
			@keyframes ring1{
				0%{
					transform:rotatey(0);
					width:40px;
					background:linear-gradient( to left,yellow, black)
				}
				
				1000%{
					transform:rotatey(360deg);
				width:210px;
				background:linear-gradient( to left, black, yellow)
				}
			}

	#dropdownMenuButton1{
				width: 370px;
				background: #161616;
				border-radius: 0px;
				border: 1px solid #4a4c4c;
				margin-bottom: 37px;
				-webkit-appearance: none;
				
			}
			#dropdownMenuButton1:focus{
			    outline: none;
			}
			.dropdown-item{
				display: block;
				padding-right: 307px;
				font-size: 14px;
    			line-height: 24px;
   				font-family: 'Open Sans', sans-serif;
   				color: #82878a;
			}
			.dropdown-item:hover{
				text-decoration: none;
				color: #161616;
				background: #82878a

			}
			.dropdown-menu{
				border:1px solid #4a4c4c;
				background: #161616;
				border-radius: 0px;

			}